# Obsidian specific
.obsidian/workspace
.obsidian/workspace.json
.obsidian/cache
.obsidian/plugins/*
!.obsidian/plugins/README.md
.trash/

# OS specific
.DS_Store
Thumbs.db

# Temporary files
*.temp
*.tmp
~*
*~

# Editor specific
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
